.ActionTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.table {
    border: 1px solid #ccc;
    margin: 20px;
}

.searchbar {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 30px;
}

.table thead {
    background-color: #827dc795;
}

.ActionTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ActionTable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
